<app-navbar></app-navbar>
<div class="container">
  <div class="row mt-4" *ngIf="user">
    <div class="col-md-3">
      <img src="https://i.pinimg.com/originals/e2/7c/87/e27c8735da98ec6ccdcf12e258b26475.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-9">
      <div class="d-flex justify-content-between">
        <div>
          <h1 class="fw-bold display-4">{{user.name}}</h1>
          <h5><i class="fas fa-phone"></i> {{user.phone}}</h5>
          <h5><i class="far fa-envelope"></i> {{user.email}}</h5>
          <h5><i class="far fa-user"></i> {{user.username}}</h5>
          <h5><i class="fas fa-globe"></i> {{user.website}}</h5>
        </div>
        <div class="text-end w-50">
          <div class="ratio ratio-21x9 mb-4">
            <iframe class="rounded shadow border border-3 border-primary" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.9473626681417!2d-74.10644738012678!3d4.6509271478974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9b02d914a5eb%3A0x250b46821cb9baaf!2sCentro%20Comercial%20Plaza%20Claro!5e0!3m2!1ses-419!2sco!4v1620178631408!5m2!1ses-419!2sco" title="YouTube video" allowfullscreen></iframe>
          </div>
          <h4>
            <a href="https://maps.google.com/" target="_blank" class="badge bg-primary text-decoration-none"><i
                class="fas fa-map-marker-alt"></i> {{user.address.city}}</a>
            <h5 class="mt-2"><i class="far fa-building"></i> {{user.company.name}}</h5>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>