<app-navbar></app-navbar>

<!-- <ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let p of post">{{p.title}}</li>
  
</ul> -->


<div class="container mt-4">
  <ol class="list-group list-group-numbered">
    <li *ngFor="let p of post" class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{p.title}}</div>
        {{p.body}}
      </div>
      <span class="badge bg-primary rounded-pill">{{p.id}}</span>
    </li>
  </ol>
</div>
  